@{
    Layout = "_Layout";
}

@model CharacterVM

<h1>Character Race</h1>
<hr />
<form asp-controller="CreateChar" asp-action="SubmitChar" asp-route-pageNr=3 method="post">

    @Html.HiddenFor(model => model.BuildId)

    <div class="container-fluid">
        
        <div class="row">
            @foreach (var item in Model.ChoosableRaces)
            {
                <div class="col-lg-3">
                    <input asp-for="@item.Chosen" type="radio" value="@item.Chosen" /> @item.Race.Name
                </div>
            }
        </div>

        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-default"><b>Next Page</b></button>
            </div>
        </div>

    </div>



</form>