@{
    Layout = "_Layout";
}

@model CharacterVM


<form asp-controller="CreateChar" asp-action="SubmitChar" asp-route-pageNr=1 method="post">
    <h1>Character Specific Info</h1>
    <hr />
    <div class="form-group text-center">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group text-center">
        <label asp-for="Sexe"></label>
        <select asp-for="Sexe" class="form-control" asp-items="Html.GetEnumSelectList<Sexe>()"></select> >
    </div>
    <div class="form-group text-center">
        <label asp-for="Alignment"></label>
        <select asp-for="Alignment" class="form-control" asp-items="Html.GetEnumSelectList<Alignment>()"></select> >
    </div>
    <div class="form-group text-center">
        <label asp-for="Attitude"></label>
        <select asp-for="Attitude" class="form-control" asp-items="Html.GetEnumSelectList<Attitude>()"></select> >
    </div>

    <button type="submit" class="btn btn-default"><b>Next Page</b></button>
</form>
