@model List<UserListVM>

<h1>Current users:</h1>
<hr />
@foreach (var gebruiker in @Model)
{
    @if (gebruiker.correctRole)
    {
        <a asp-area="Identity" asp-controller="Role" asp-action="ShowUser" asp-route-userName="@gebruiker.userName"><h2>@gebruiker.userName</h2></a>
    }
    else
    {
        <a asp-area="Identity" asp-controller="Role" asp-action="ShowUser" asp-route-userName="@gebruiker.userName"><h2 class="text-danger">@gebruiker.userName</h2></a>
    }

}
