@model List<Character>

<h1>Your Characters</h1>
<table>
    
    @foreach (var character in @Model)
    {
        <tr>
            <td>
                @character.Name
            </td>
            <td>
                @character.Beroepen
            </td>
            <td>
                @character.CharOwner
            </td>
        </tr> 
    }
</table>
